<h1>Edit Routine for <%= @routine.title %></h1>
<p><%= @error %></p>
<form action="/routines/<%=@routine.id%>" method="post">
    <input type="hidden" name="_method" value ="patch">
    <label>Title</label>
    <input type="text" name="routine[title]" value="<%= @routine.title %>">
    <label>Method</label>
    <textarea name="routine[method]"><%= @routine.method %></textarea>
    <label>Image URL</label>
    <input type="text" name="routine[image]" value="<%= @routine.image %>">
    <button type="submit">Edit Routine</button>
</form>