
<h1>Routines</h1>
<a href="/routines/new">Create a Routine</a>
<% @routines.each do |routine| %>
    <h2><a href="/routines/<%= routine.id %>"><%= routine.title %></a></h2>
    <p><%= routine.method %></p>
    <img src="<%= routine.image %>" alt="routine">
    <div>
    <%= routine.exercises.map {|exercise| exercise.name}.join(", ") %>
    </div>
    <% if current_user == routine.user %>
        <a href="/routines/<%= routine.id %>/edit">Edit</a>
        <% end %>
<% end %>
